@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
.chatBot-container {
    width: auto;
    margin: auto;
    padding: 20px;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: row;
}

.slide-up {
    position: relative;
    animation: slideUpAnimation 0.8s ease-out forwards;
}

@keyframes slideUpAnimation {
    0% {
        transform: translateY(30px); /* 시작 위치 */
        opacity: 0; /* 투명도 */
        background-color: rgba(255, 255, 255, 0.1); /* 배경색 초기 상태 */
    }
    100% {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1; /* 완전한 불투명 */
        background-color: rgba(255, 255, 255, 1); /* 최종 배경색 */
    }
}

.chatBox {
    padding: 20px;
    width: 700px;
    margin: 0 0 0 100px;
}
.chatBox h1{
    margin: 50px;
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-align:  center;
}

.user-message {
    margin: 50px;
    font-size: 17px;
    text-align: center;
}
hr{
    border-width: 3px 0 0 0;
}
.llm-message {
    margin: 35px;
    font-size: 16px;
}


.reportBox {
    border: 1px solid #ccc;
    padding: 20px;
    width: 500px;
    max-height: 450px;
    margin: 30px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
}