@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 40px;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    z-index: 1; /* 콘텐츠가 사이드바, 헤더보다 뒤에 위치하도록 설정 */
}
@media (max-width: 600px){ /* 화면 폭이 768px 이하일 때 */
    .container{
        flex-direction: column;
    }
}

.left-container {
    margin: 0 0 0 150px;
    height: auto;
    padding: 20px 50px 10px 50px; /* 콘텐츠가 편하게 들어갈 수 있도록 여백 추가 */
    width: 32vw;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #f2f4f5;
    box-shadow: 2px 2px 2px 2px #f2f4f5;
    overflow: hidden;
}
.hotPost{
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.community_font {
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
    animation: slideAnimation 0.5s ease-out forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translateY(20px); /* 시작 위치 */
        opacity: 0; /* 투명도 */
    }
    100% {
        transform: translateY(0px); /* 최종 위치 */
        opacity: 1; /* 완전한 불투명 */
    }
}

@media (max-width: 800px){ /* 화면 폭이 768px 이하일 때 */
    .right-container{
        margin-left: 120px;
    }
}
.chatRoom_font{
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
