@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.main_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    height: 80vh;
    position: relative;
    animation: slideAnimation 1s ease-out forwards;
}


.report_data{
    animation: opacityAnimation 1s ease-out forwards;
    font-size: 12px;
    margin-left: 8px;
}

.left_container {
    display: flex;
    flex-direction: column;
}

.hotReport {
    width: 48vw; /* 박스의 너비 */
    height: 33vh;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid whitesmoke;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    overflow: hidden;
}

.report_header {
    display: flex;
    flex-direction: column; /* 위아래로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

.report_header p {
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.report_scroll{
    max-height: calc(50vh - 29vh); /* 전체 높이에서 상단 제목 영역을 제외한 높이 */
    overflow-y: auto; /* 스크롤 활성화 */
    scrollbar-width: none;
    padding-right: 10px; /* 스크롤바와 콘텐츠 사이 여백 */
}
.industryReport{
    width: 48vw; /* 박스의 너비 */
    height: 33vh;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid whitesmoke;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    overflow: hidden;
}
.industryReport p {
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.industry_scroll{
    max-height: calc(50vh - 29vh); /* 전체 높이에서 상단 제목 영역을 제외한 높이 */
    overflow-y: auto;
    scrollbar-width: none;
    padding-right: 10px; /* 스크롤바와 콘텐츠 사이 여백 */
}

.news_title{
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}

.communityOrder{
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}


.inputContainer {
    position: relative; /* 버튼 위치 조정을 위해 relative로 설정 */
    margin-top: 15px;
}

.chatInput {
    height: 45px;
    width: 100vw;
    text-align: center;
    border: 2.5px solid #2c3e50;
}
.chatInput:focus{
    box-shadow: 4px 4px 4px 4px whitesmoke;
    border: 2.5px solid #2c3e50;
    outline: none;
}

.inputButton {
    background: none; /* 버튼의 배경색 제거 */
    cursor: pointer; /* 클릭할 때 포인터 커서로 변경 */
}