@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.main_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    height: 60vh;
    position: relative;
    animation: slideAnimation 1s ease-out forwards;
}
@keyframes slideAnimation {
    0% {
        transform: translateY(40px); /* 시작 위치 */
        opacity: 0; /* 투명도 */
        background-color: rgba(255, 255, 255, 0.1); /* 배경색 초기 상태 */
    }
    100% {
        transform: translateY(0px); /* 최종 위치 */
        opacity: 1; /* 완전한 불투명 */
        background-color: rgba(255, 255, 255, 1); /* 최종 배경색 */
    }
}
.report_data{
    animation: opacityAnimation 1s ease-out forwards;

}
@keyframes opacityAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.left_container {
    display: flex;
    flex-direction: column;
}

.hotReport {
    width: 48vw; /* 박스의 너비 */
    height: 25vh;
    background-color: rgb(247,247,247);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gray;
    overflow: hidden;
}

.report_header {
    display: flex;
    flex-direction: column; /* 위아래로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
}

.report_header p {
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.report_scroll{
    max-height: calc(50vh - 70px); /* 전체 높이에서 상단 제목 영역을 제외한 높이 */
    overflow-y: auto; /* 스크롤 활성화 */
    padding-right: 10px; /* 스크롤바와 콘텐츠 사이 여백 */
}
.report_scroll::-webkit-scrollbar{
    width: 4px;
}
.report_scroll::-webkit-scrollbar-thumb {
    background: #E6E7EB; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥글게 */
}
.report_scroll::-webkit-scrollbar-thumb:hover {
    background: darkgray; /* 스크롤바 hover 색상 */
}
.industryReport{
    width: 48vw; /* 박스의 너비 */
    height: 25vh;
    margin-top: 10px;
    background-color: rgb(247,247,247);
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gray;
    overflow: hidden;
}
.industryReport p {
    margin: 0; /* 불필요한 여백 제거 */
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.news_title{
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.newsCrawling {
    width: 25vw;
    height: 32vh;
    margin-left: 50px;
    border: 1px solid #F9FAFB;
    border-radius: 10px;
    background-color: #F9FAFB;
    overflow: auto;
    scrollbar-width: none;
    box-shadow: 2px 2px 2px 2px gray;
}
.communityOrder{
    font-family: 'Pretendard-Bold', sans-serif;
    font-weight: 800;
}
.community {
    width: 25vw;
    height: 18vh;
    padding: 15px;
    margin-left: 50px;
    border: 1px solid #F9FAFB;
    background-color: #F9FAFB;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 2px 2px 2px 2px gray;
}

/* newsCrawling과 community를 세로로 배치 */
.right-column {
    display: flex;
    flex-direction: column;
    gap: 5px; /* 위아래 간격 */
}

.inputContainer {
    position: relative; /* 버튼 위치 조정을 위해 relative로 설정 */
}

.chatInput {
    height: 35px;
    width: 100vw;
    max-width: 900px;
    text-align: center;
    margin-left: 120px;
    padding-right: 20px;
    border-color: #303E4F;
}
.chatInput:focus{
    box-shadow: 4px 4px 4px 4px gray;
}

.input-svg {
    height: 15px;
    width: 15px;
}

.inputButton {
    background: none; /* 버튼의 배경색 제거 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 클릭할 때 포인터 커서로 변경 */
}